parameters:
    level: max
    paths:
        - src
        - tests
    excludes_analyse:
        - tests/fixtures
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'
